body, html {
  height: 100%;
  margin: 0;

}


.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Helvetica", Times, serif;
  font-size: 50px;
  font-weight: bold;
}

.testbg {
    background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: 
    /* top, transparent red */
    linear-gradient(
      rgba(4, 9, 30, 0.5), 
      rgba(4, 9, 30, 0.5)
    ),
    /* your image */
    url(img/banner/tech.jpg);
}

.projectHeading {
    text-align: center;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}